spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/his_system
    username: root
    password: root
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  port: 8080

jwt:
  secret: my-super-secret-key-for-his-system
  expiration: 86400000
